@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

$primaryColor:#008080;
$textColor:#333;
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: all 1s ease-in-out;
}

.fade-out {
    transform: translateY(-120%);
}

.logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.8rem;
    color: $primaryColor;
    font-weight: bold;
}

//css header start
.header {
    height: 6rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
    z-index: 1000;
    position: relative;
    .nav {
        display: flex;
        &-link {
            display: inline-block;
            padding: 10px;
            color: $textColor;
            font-size: 1.8rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 500;
            opacity: 0.9;
            &:hover {
                transition: all .7s ease-in-out;
                color: $primaryColor;
            }
        }
    }
    .nav-mobile {
        display: none;
    }
    .menu-toggle {
        display: none;
    }
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 0.1px 5px 0px #777777;
    animation: slideInTop .7s linear;
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// css header end
// css slider start
.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    .slides {
        width: 100%;
        height: 400px;
        display: flex;
        position: relative;
        .slide-prev {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.4rem;
            background: transparent;
            position: absolute;
            color: #fff;
            opacity: 0.4;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: all 1s ease-in-out;
            &:hover {
                color: $primaryColor;
                cursor: pointer;
                opacity: 1;
            }
        }
        .slide-next {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.4rem;
            background: transparent;
            position: absolute;
            color: #fff;
            opacity: 0.4;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            transition: all 1s ease-in-out;
            &:hover {
                cursor: pointer;
                color: $primaryColor;
                opacity: 1;
            }
        }
        form {
            position: absolute;
            width: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: transparent;
            display: flex;
            input {
                display: block;
                padding: 8px 16px;
                border: none;
                outline: none;
                color: $textColor;
                font-size: 1.6rem;
            }
            input[type="search"] {
                flex: 1;
                border-radius: 25px 0 0 25px;
            }
            .btn-search {
                font-weight: 500;
                transition: all 1s ease-in-out;
                cursor: pointer;
                border-radius: 0 25px 25px 0;
                background: $primaryColor;
                opacity: 0.7;
                color: #fff;
                &:hover {
                    opacity: 1;
                }
            }
        }
        input {
            display: none;
        }
        .slide {
            width: 100%;
            height: 100%;
            flex: 1 0 100%;
            transition: all 1.5s ease-in-out;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .navigation-auto {
            width: 100%;
            position: absolute;
            bottom: 5%;
            display: flex;
            justify-content: center;
            div {
                border: 2px solid $primaryColor;
                padding: 5px;
                border-radius: 10px;
                transition: all 1.5s ease-in-out;
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
        #radio1:checked~.first {
            margin-left: 0;
        }
        #radio2:checked~.first {
            margin-left: -100%;
        }
        #radio3:checked~.first {
            margin-left: -200%;
        }
        #radio4:checked~.first {
            margin-left: -300%;
        }
        .food-search {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #609cbf;
            font-size: 4rem;
            transition: all 0.5s ease-in-out;
            &:hover {
                color: $primaryColor;
            }
        }
    }
    #radio1:checked~.navigation-auto .auto-btn1 {
        background: $primaryColor;
    }
    #radio2:checked~.navigation-auto .auto-btn2 {
        background: $primaryColor;
    }
    #radio3:checked~.navigation-auto .auto-btn3 {
        background: $primaryColor;
    }
    #radio4:checked~.navigation-auto .auto-btn4 {
        background: $primaryColor;
    }
    .navigation-manual {
        width: 100%;
        position: absolute;
        bottom: 5%;
        display: flex;
        justify-content: center;
        .manual-btn {
            border: 2px solid $primaryColor;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 1s ease-in-out;
            &:not(:last-child) {
                margin-right: 20px;
            }
            &:hover {
                background: $primaryColor;
            }
        }
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    .categorys {
        position: relative;
        margin-top: 6rem;
        width: 1200px;
        .category {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            position: relative;
            &-item {
                display: block;
                width: 28%;
                height: 23rem;
                margin-bottom: 4%;
                margin-left: 2.6666666667%;
                margin-right: 2.6666666667%;
                border-radius: 10px;
                position: relative;
                z-index: 2;
                transition: all 0.3s linear;
                overflow: hidden;
                span {
                    position: absolute;
                    font-size: 3rem;
                    width: 100%;
                    color: $primaryColor;
                    top: 50%;
                    left: 50%;
                    text-align: center;
                    font-weight: bold;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: all 0.5s linear;
                }
                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, #b30704, #c29905);
                    border-radius: 10px;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    opacity: 0.3;
                    transition: all .5s linear;
                }
                &:hover {
                    &::before {
                        top: 0;
                        z-index: 1;
                    }
                    span {
                        opacity: 1;
                        z-index: 2;
                    }
                    transform: translate(-10px,
                    -10px);
                    background: $primaryColor;
                    box-shadow: 8px 8px 0 0 $primaryColor;
                }
            }
        }
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .foods {
        position: relative;
        margin-top: 4rem;
        width: 1200px;
        font-size: 1.6rem;
        .food {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            position: relative;
            &-item {
                border: 2px solid #999;
                border-radius: 10px;
                display: flex;
                width: 40%;
                margin-bottom: 4%;
                position: relative;
                transition: all .5s ease-in-out;
                .food-img {
                    display: block;
                    border-radius: 1rem;
                    padding: 5px;
                    height: 10rem;
                    width: 12rem;
                    margin-right: 2rem;
                    transition: all .5s ease-in-out;
                    img {
                        height: 10rem;
                        width: 12rem;
                        border-radius: 1rem;
                        object-fit: cover;
                    }
                }
                .food-info {
                    position: relative;
                    padding: 0 10px;
                    .food-title {
                        font-weight: 550;
                        overflow: hidden;
                        display: block;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                    }
                    .food-price {
                        font-size: 1.7rem;
                    }
                    .food-desc {
                        color: #747d8c;
                        font-size: 1.6rem;
                        line-height: 1.8rem;
                        height: 3.6rem;
                        overflow: hidden;
                        display: block;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        // white-space: nowrap;
                        // text-overflow: ellipsis;
                    }
                    .btn-order {
                        display: inline-block;
                        border: 1px solid $primaryColor;
                        padding: 4px 12px;
                        margin: 4px 0;
                        color: #fff;
                        background: $primaryColor;
                        transition: all .5s ease-in-out;
                        &:hover {
                            background: none;
                            color: $primaryColor;
                            transform: scale(1.05);
                        }
                    }
                }
                &:nth-child(odd) {
                    margin-left: 8%;
                    margin-right: 2%;
                }
                &:nth-child(even) {
                    margin-left: 2%;
                    margin-right: 8%;
                }
                &:hover {
                    transform: translateY(-3px);
                    cursor: pointer;
                    box-shadow: 4px 4px 10px 0 rgb(161, 156, 156);
                }
            }
        }
    }
}

.order {
    background-image: url('../img/ibg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    h2 {
        padding: 2rem 0;
    }
    &-wrapper {
        padding-bottom: 10rem;
        width: 40%;
        margin: 0 auto;
        .food-info {
            margin: 2rem auto;
            display: flex;
            align-items: center;
            padding: 1rem;
            border: 1px solid white;
            border-radius: 1rem;
            legend {
                margin-left: 1rem;
            }
            .order-img {
                width: 10rem;
                height: 10rem;
                margin-right: 2rem;
                img {
                    width: 10rem;
                    height: 10rem;
                    border-radius: 1rem;
                    object-fit: cover;
                }
            }
            .order-desc {
                flex: 1;
                h3 {
                    font-size: 2.4rem;
                }
                label {
                    font-size: 1.8rem;
                    font-weight: 500;
                    display: block;
                }
                input {
                    font-size: 1.6rem;
                    width: 100%;
                    padding: 4px 16px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                }
            }
        }
        .food-desc {
            margin: 0rem auto;
            padding: 1rem;
            border: 1px solid white;
            border-radius: 1rem;
            position: relative;
            legend {
                margin-left: 1rem;
            }
            .order-info {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                .order-label {
                    min-width: 12rem;
                    font-size: 1.8rem;
                    font-weight: 500;
                }
                input,
                textarea {
                    flex: 1;
                    padding: 6px 12px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.6rem;
                    transition: all 0.5s linear;
                }
                .icons {
                    position: absolute;
                    right: 3%;
                    .icon1,
                    .icon3 {
                        border: 1px solid #e74c3c;
                        border-radius: 50%;
                        width: 2rem;
                        height: 2rem;
                        text-align: center;
                        font-size: 1.6rem;
                        color: #e74c3c;
                    }
                    .icon2,
                    .icon4 {
                        border: 1px solid #27ae60;
                        border-radius: 50%;
                        width: 2rem;
                        height: 2rem;
                        text-align: center;
                        font-size: 1.6rem;
                        color: #27ae60;
                    }
                }
            }
            .error-text-mail {
                position: absolute;
                top: 32%;
                right: 2%;
                float: right;
                padding: 4px;
                border-radius: 5px;
                background: #e74c3c;
                color: #fceae8;
                &::before {
                    content: "";
                    position: absolute;
                    width: 1.5rem;
                    height: 1.5rem;
                    right: 3%;
                    top: -5px;
                    background: #e74c3c;
                    transform: rotate(45deg);
                }
            }
            .error-text-phone {
                position: absolute;
                top: 22%;
                right: 2%;
                float: right;
                padding: 4px;
                border-radius: 5px;
                background: #e74c3c;
                color: #fceae8;
                z-index: 2;
                &::before {
                    content: "";
                    position: absolute;
                    width: 1.5rem;
                    height: 1.5rem;
                    right: 3%;
                    top: -5px;
                    background: #e74c3c;
                    transform: rotate(45deg);
                }
            }
            .btn-order {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                padding: 4px 16px;
                margin: 1rem 0;
                text-align: center;
                font-size: 1.8rem;
                color: $primaryColor;
                outline: none;
                border: 1px solid $primaryColor;
                transition: all 1s linear;
                cursor: pointer;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: #000;
                    left: 50%;
                }
                &:hover {
                    background-color: $primaryColor;
                    color: #fff;
                }
            }
        }
    }
}

.pagination {
    margin-bottom: 4rem;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            .page,
            .page-prev,
            .page-next {
                color: $primaryColor;
                width: 4rem;
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                font-size: 1.8rem;
                font-weight: 500;
                border-radius: 50%;
                border: 1px solid $primaryColor;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
                &:hover {
                    background: $primaryColor;
                    color: #fff;
                }
            }
            .page-checked {
                background: $primaryColor;
                color: #fff;
            }
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}

.btn-all {
    display: inline-block;
    position: relative;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    padding: 6px 22px;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    cursor: pointer;
    transition: all 1s ease-in-out;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $primaryColor;
        left: -100%;
        top: 0;
        transition: all .5s ease-in-out;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &::before {
            left: 0;
        }
    }
}

.title {
    text-align: center;
    margin: 3rem 0 6rem 0;
    color: $textColor;
    font-weight: 600;
    font-size: 2.8rem;
    opacity: 0.8;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-white {
    color: white;
}

.footer {
    background: #d9d3d3;
    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 2%;
        color: $textColor;
        position: relative;
        font-size: 1.6rem;
        .contact-title {
            font-size: 2.8rem;
            font-weight: 500;
            margin: 1.2rem 0;
        }
        p {
            margin: 8px 0;
            display: flex;
            align-items: center;
        }
        .sub-link {
            display: inline-block;
            color: $textColor;
            margin: 4px 0;
            transition: all 0.5s ease-in-out;
            overflow: hidden;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 1px;
                left: 0;
                background: $primaryColor;
                transition: all 0.5s ease-in-out;
            }
            &:hover {
                transform: translateY(-2px);
                color: $primaryColor;
                &::before {
                    width: 100%;
                }
            }
        }
        .support {
            width: 26%;
            padding: 1rem;
            .phone,
            .email {
                font-weight: 600;
                color: $primaryColor;
                margin-left: 1rem;
            }
        }
        .introduce {
            width: 24%;
            padding: 1rem;
        }
        .contact {
            width: 24%;
            padding: 1rem;
        }
        .sign-up {
            padding: 1rem;
            width: 26%;
            input[type="email"] {
                padding: 0.8rem 1.6rem;
                width: 100%;
                outline: none;
                border: none;
                font-size: 1.6rem;
                margin-bottom: 1.6rem;
            }
            .btn-sign-up {
                display: block;
                position: relative;
                width: 100%;
                padding: 0.8rem 2.2rem;
                font-size: 1.8rem;
                font-weight: 500;
                color: #fff;
                background: $primaryColor;
                border: none;
                cursor: pointer;
                transition: all 1s ease-in-out;
                &:hover {
                    border: 1px solid $primaryColor;
                    color: $primaryColor;
                    background: #fff;
                }
            }
        }
    }
    .social {
        background: #c7bdbd;
        &-network {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    margin: 0 10px;
                    font-size: 2.8rem;
                }
            }
        }
        p {
            text-align: center;
            color: $textColor;
            a {
                font-size: 2.2rem;
            }
        }
    }
}

.back-to-top {
    background: $primaryColor;
    position: fixed;
    bottom: 1.6rem;
    right: 3.2rem;
    width: 4rem;
    height: 4rem;
    font-size: 3.2rem;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
    z-index: 100;
    &:hover {
        color: $primaryColor;
        background: #fff;
        border: 1px solid $primaryColor;
        transform: scale(1.1);
        box-shadow: 0 0 1.8rem 2px $primaryColor;
    }
}

.active {
    bottom: 3.3rem;
    pointer-events: auto;
    opacity: 1;
}