@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Mobile */
@media screen and (max-width: 810px) {
  .header {
    padding: 0;
    padding-left: 5rem;
  }
  .header .logo {
    font-size: 3.6rem;
  }
  .header .nav {
    display: none;
  }
  .header .nav-mobile {
    display: block;
    position: absolute;
    width: 100%;
    top: 6rem;
    left: -100%;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    text-align: center;
    z-index: 90;
  }
  .header .nav-mobile-list {
    border-bottom: 1px solid #fff;
    background: #008080;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav-mobile-link {
    height: 6rem;
    padding: 0 2rem;
    font-size: 1.8rem;
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 100%;
  }
  .header .nav-mobile-link .icon {
    width: 6rem;
    height: 6rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.8rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav-mobile-link span {
    min-width: 10rem;
    text-align: left;
  }
  .header .nav-mobile-link:hover {
    color: red;
  }
  .header .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.4rem;
    color: #008080;
    height: 6rem;
    width: 12rem;
    cursor: pointer;
  }
  .header .active {
    left: 0;
    background: #008080;
  }
  .slider {
    width: 100%;
    height: 20rem;
    position: relative;
  }
  .slider .slides {
    width: 100%;
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .slider .slides form {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: transparent;
    display: block;
  }
  .slider .slides form input[type="search"] {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 1rem;
  }
  .slider .slides form .btn-search {
    width: 100%;
    font-weight: 500;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    cursor: pointer;
    border-radius: 25px;
    background: #008080;
    opacity: 0.7;
    color: #fff;
  }
  .slider .slides form .btn-search:hover {
    opacity: 1;
  }
  .slider .slides .food-search {
    font-size: 1.8rem;
  }
  .container .categorys {
    width: 90%;
  }
  .container .categorys .title {
    margin: 2rem 0;
  }
  .container .categorys .category {
    width: 100%;
  }
  .container .categorys .category-item {
    width: 100%;
    height: 20rem;
    margin: 2rem 0;
  }
  .wrapper .foods {
    margin-top: 0;
  }
  .wrapper .foods .title {
    margin: 2rem 0;
  }
  .wrapper .foods .food-item {
    width: 90%;
    margin: 2rem 5% !important;
  }
  .wrapper .foods .food-item .food-img {
    height: 8rem;
    width: 10rem;
  }
  .wrapper .foods .food-item .food-img img {
    height: 8rem;
    width: 10rem;
  }
  .order-wrapper {
    width: 90%;
  }
  .order-wrapper .food-desc .order-info {
    display: block;
    position: relative;
  }
  .order-wrapper .food-desc .order-info .order-label {
    display: block;
    margin-bottom: 1rem;
  }
  .order-wrapper .food-desc .order-info input,
  .order-wrapper .food-desc .order-info textarea {
    width: 100%;
  }
  .order-wrapper .food-desc .order-info .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 9px;
    top: 61%;
  }
  .order-wrapper .food-desc .btn-order {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
    padding: 16px;
  }
  .order-wrapper .food-desc .error-text-phone {
    top: 28%;
  }
  .order-wrapper .food-desc .error-text-mail {
    top: 42%;
  }
  .btn {
    margin-top: 2rem;
  }
  .pagination {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem auto;
  }
  .pagination ul {
    width: 100%;
  }
  .pagination ul li:not(:last-child) {
    margin-right: 10px;
  }
  .footer .link p {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .link .support {
    width: 100%;
    text-align: center;
  }
  .footer .link .introduce {
    width: 100%;
    text-align: center;
  }
  .footer .link .contact {
    width: 100%;
    text-align: center;
  }
  .footer .link .sign-up {
    text-align: center;
    width: 100%;
  }
  .footer .social-network ul li {
    margin: 0 2px;
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 480px) and (min-width: 319px) {
  .pagination ul li .page,
  .pagination ul li .page-prev,
  .pagination ul li .page-next {
    width: 3.6rem;
    height: 3.6rem;
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=responsive.css.map */