@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

$primaryColor:#008080;
$textColor:#333;
$headerHeight: 6rem;
@media screen and (max-width: 1023.98px) {}


/* Mobile */

@media screen and (max-width: 810px) {
    .header {
        padding: 0;
        padding-left: 5rem;
        .logo {
            font-size: 3.6rem;
        }
        .nav {
            display: none;
        }
        .nav-mobile {
            display: block;
            position: absolute;
            width: 100%;
            top: $headerHeight;
            left: -100%;
            transition: all 0.5s linear;
            text-align: center;
            z-index: 90;
            &-list {
                border-bottom: 1px solid #fff;
                background: $primaryColor;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-link {
                height: $headerHeight;
                padding: 0 2rem;
                font-size: 1.8rem;
                color: $textColor;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.5s linear;
                width: 100%;
                .icon {
                    width: $headerHeight;
                    height: $headerHeight;
                    text-align: center;
                    // min-width: $headerHeight;
                    display: flex;
                    align-items: center;
                    font-size: 2.8rem;
                    justify-content: center;
                }
                span {
                    min-width: 10rem;
                    text-align: left;
                }
                &:hover {
                    color: red;
                }
            }
        }
        .menu-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.4rem;
            color: $primaryColor;
            height: $headerHeight;
            width: 12rem;
            cursor: pointer;
        }
        .active {
            left: 0;
            background: $primaryColor;
        }
    }
    .slider {
        width: 100%;
        height: 20rem;
        position: relative;
        .slides {
            width: 100%;
            height: 20rem;
            display: flex;
            position: relative;
            form {
                position: absolute;
                width: 70%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: transparent;
                display: block;
                input[type="search"] {
                    width: 100%;
                    border-radius: 25px;
                    margin-bottom: 1rem;
                }
                .btn-search {
                    width: 100%;
                    font-weight: 500;
                    transition: all 1s ease-in-out;
                    cursor: pointer;
                    border-radius: 25px;
                    background: $primaryColor;
                    opacity: 0.7;
                    color: #fff;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            .food-search {
                font-size: 1.8rem;
            }
        }
    }
    .container {
        .categorys {
            width: 90%;
            .title {
                margin: 2rem 0;
            }
            .category {
                width: 100%;
                &-item {
                    width: 100%;
                    height: 20rem;
                    margin: 2rem 0;
                }
            }
        }
    }
    .wrapper {
        .foods {
            margin-top: 0;
            .title {
                margin: 2rem 0;
            }
            .food {
                &-item {
                    width: 90%;
                    margin: 2rem 5% !important;
                    .food-img {
                        height: 8rem;
                        width: 10rem;
                        img {
                            height: 8rem;
                            width: 10rem;
                        }
                    }
                }
            }
        }
    }
    .order {
        &-wrapper {
            width: 90%;
            .food-desc {
                .order-info {
                    display: block;
                    position: relative;
                    .order-label {
                        display: block;
                        margin-bottom: 1rem;
                    }
                    input,
                    textarea {
                        width: 100%;
                    }
                    .icons {
                        display: flex;
                        right: 9px;
                        top: 61%;
                    }
                }
                .btn-order {
                    left: 0;
                    transform: translateX(0);
                    width: 100%;
                    padding: 16px;
                }
                .error-text-phone {
                    top: 28%;
                }
                .error-text-mail {
                    top: 42%;
                }
            }
        }
    }
    .btn {
        margin-top: 2rem;
    }
    .pagination {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
        ul {
            width: 100%;
            li {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
    .footer {
        .link {
            p {
                justify-content: center;
            }
            .support {
                width: 100%;
                text-align: center;
            }
            .introduce {
                width: 100%;
                text-align: center;
            }
            .contact {
                width: 100%;
                text-align: center;
            }
            .sign-up {
                text-align: center;
                width: 100%;
            }
        }
        .social {
            &-network {
                ul {
                    li {
                        margin: 0 2px;
                        font-size: 2.8rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) and (min-width: 319px) {
    .pagination {
        ul {
            li {
                .page,
                .page-prev,
                .page-next {
                    width: 3.6rem;
                    height: 3.6rem;
                    font-size: 1.6rem;
                }
            }
        }
    }
}