@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.fade-out {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.logo {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.8rem;
  color: #008080;
  font-weight: bold;
}

.header {
  height: 6rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  position: relative;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav-link {
  display: inline-block;
  padding: 10px;
  color: #333;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  opacity: 0.9;
}

.header .nav-link:hover {
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  color: #008080;
}

.header .nav-mobile {
  display: none;
}

.header .menu-toggle {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 1px 0.1px 5px 0px #777777;
          box-shadow: 1px 0.1px 5px 0px #777777;
  -webkit-animation: slideInTop .7s linear;
          animation: slideInTop .7s linear;
}

@-webkit-keyframes slideInTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.slider {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slider .slides {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.slider .slides .slide-prev {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3.4rem;
  background: transparent;
  position: absolute;
  color: #fff;
  opacity: 0.4;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.slider .slides .slide-prev:hover {
  color: #008080;
  cursor: pointer;
  opacity: 1;
}

.slider .slides .slide-next {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3.4rem;
  background: transparent;
  position: absolute;
  color: #fff;
  opacity: 0.4;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.slider .slides .slide-next:hover {
  cursor: pointer;
  color: #008080;
  opacity: 1;
}

.slider .slides form {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slides form input {
  display: block;
  padding: 8px 16px;
  border: none;
  outline: none;
  color: #333;
  font-size: 1.6rem;
}

.slider .slides form input[type="search"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 25px 0 0 25px;
}

.slider .slides form .btn-search {
  font-weight: 500;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
  background: #008080;
  opacity: 0.7;
  color: #fff;
}

.slider .slides form .btn-search:hover {
  opacity: 1;
}

.slider .slides input {
  display: none;
}

.slider .slides .slide {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.slider .slides .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider .slides .navigation-auto {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slides .navigation-auto div {
  border: 2px solid #008080;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.slider .slides .navigation-auto div:not(:last-child) {
  margin-right: 20px;
}

.slider .slides #radio1:checked ~ .first {
  margin-left: 0;
}

.slider .slides #radio2:checked ~ .first {
  margin-left: -100%;
}

.slider .slides #radio3:checked ~ .first {
  margin-left: -200%;
}

.slider .slides #radio4:checked ~ .first {
  margin-left: -300%;
}

.slider .slides .food-search {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #609cbf;
  font-size: 4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.slider .slides .food-search:hover {
  color: #008080;
}

.slider #radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #008080;
}

.slider #radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #008080;
}

.slider #radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #008080;
}

.slider #radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #008080;
}

.slider .navigation-manual {
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .navigation-manual .manual-btn {
  border: 2px solid #008080;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.slider .navigation-manual .manual-btn:not(:last-child) {
  margin-right: 20px;
}

.slider .navigation-manual .manual-btn:hover {
  background: #008080;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .categorys {
  position: relative;
  margin-top: 6rem;
  width: 1200px;
}

.container .categorys .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.container .categorys .category-item {
  display: block;
  width: 28%;
  height: 23rem;
  margin-bottom: 4%;
  margin-left: 2.6666666667%;
  margin-right: 2.6666666667%;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden;
}

.container .categorys .category-item span {
  position: absolute;
  font-size: 3rem;
  width: 100%;
  color: #008080;
  top: 50%;
  left: 50%;
  text-align: center;
  font-weight: bold;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.container .categorys .category-item img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .categorys .category-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#b30704), to(#c29905));
  background: linear-gradient(180deg, #b30704, #c29905);
  border-radius: 10px;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.3;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.container .categorys .category-item:hover {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  background: #008080;
  -webkit-box-shadow: 8px 8px 0 0 #008080;
          box-shadow: 8px 8px 0 0 #008080;
}

.container .categorys .category-item:hover::before {
  top: 0;
  z-index: 1;
}

.container .categorys .category-item:hover span {
  opacity: 1;
  z-index: 2;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .foods {
  position: relative;
  margin-top: 4rem;
  width: 1200px;
  font-size: 1.6rem;
}

.wrapper .foods .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.wrapper .foods .food-item {
  border: 2px solid #999;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-bottom: 4%;
  position: relative;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.wrapper .foods .food-item .food-img {
  display: block;
  border-radius: 1rem;
  padding: 5px;
  height: 10rem;
  width: 12rem;
  margin-right: 2rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.wrapper .foods .food-item .food-img img {
  height: 10rem;
  width: 12rem;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .foods .food-item .food-info {
  position: relative;
  padding: 0 10px;
}

.wrapper .foods .food-item .food-info .food-title {
  font-weight: 550;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.wrapper .foods .food-item .food-info .food-price {
  font-size: 1.7rem;
}

.wrapper .foods .food-item .food-info .food-desc {
  color: #747d8c;
  font-size: 1.6rem;
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.wrapper .foods .food-item .food-info .btn-order {
  display: inline-block;
  border: 1px solid #008080;
  padding: 4px 12px;
  margin: 4px 0;
  color: #fff;
  background: #008080;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.wrapper .foods .food-item .food-info .btn-order:hover {
  background: none;
  color: #008080;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.wrapper .foods .food-item:nth-child(odd) {
  margin-left: 8%;
  margin-right: 2%;
}

.wrapper .foods .food-item:nth-child(even) {
  margin-left: 2%;
  margin-right: 8%;
}

.wrapper .foods .food-item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 10px 0 #a19c9c;
          box-shadow: 4px 4px 10px 0 #a19c9c;
}

.order {
  background-image: url("../img/ibg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.order h2 {
  padding: 2rem 0;
}

.order-wrapper {
  padding-bottom: 10rem;
  width: 40%;
  margin: 0 auto;
}

.order-wrapper .food-info {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
}

.order-wrapper .food-info legend {
  margin-left: 1rem;
}

.order-wrapper .food-info .order-img {
  width: 10rem;
  height: 10rem;
  margin-right: 2rem;
}

.order-wrapper .food-info .order-img img {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-wrapper .food-info .order-desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.order-wrapper .food-info .order-desc h3 {
  font-size: 2.4rem;
}

.order-wrapper .food-info .order-desc label {
  font-size: 1.8rem;
  font-weight: 500;
  display: block;
}

.order-wrapper .food-info .order-desc input {
  font-size: 1.6rem;
  width: 100%;
  padding: 4px 16px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.order-wrapper .food-desc {
  margin: 0rem auto;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
  position: relative;
}

.order-wrapper .food-desc legend {
  margin-left: 1rem;
}

.order-wrapper .food-desc .order-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.order-wrapper .food-desc .order-info .order-label {
  min-width: 12rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.order-wrapper .food-desc .order-info input,
.order-wrapper .food-desc .order-info textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 6px 12px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.order-wrapper .food-desc .order-info .icons {
  position: absolute;
  right: 3%;
}

.order-wrapper .food-desc .order-info .icons .icon1,
.order-wrapper .food-desc .order-info .icons .icon3 {
  border: 1px solid #e74c3c;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-size: 1.6rem;
  color: #e74c3c;
}

.order-wrapper .food-desc .order-info .icons .icon2,
.order-wrapper .food-desc .order-info .icons .icon4 {
  border: 1px solid #27ae60;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  font-size: 1.6rem;
  color: #27ae60;
}

.order-wrapper .food-desc .error-text-mail {
  position: absolute;
  top: 32%;
  right: 2%;
  float: right;
  padding: 4px;
  border-radius: 5px;
  background: #e74c3c;
  color: #fceae8;
}

.order-wrapper .food-desc .error-text-mail::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 3%;
  top: -5px;
  background: #e74c3c;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.order-wrapper .food-desc .error-text-phone {
  position: absolute;
  top: 22%;
  right: 2%;
  float: right;
  padding: 4px;
  border-radius: 5px;
  background: #e74c3c;
  color: #fceae8;
  z-index: 2;
}

.order-wrapper .food-desc .error-text-phone::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 3%;
  top: -5px;
  background: #e74c3c;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.order-wrapper .food-desc .btn-order {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4px 16px;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.8rem;
  color: #008080;
  outline: none;
  border: 1px solid #008080;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  cursor: pointer;
}

.order-wrapper .food-desc .btn-order::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  left: 50%;
}

.order-wrapper .food-desc .btn-order:hover {
  background-color: #008080;
  color: #fff;
}

.pagination {
  margin-bottom: 4rem;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination ul li .page,
.pagination ul li .page-prev,
.pagination ul li .page-next {
  color: #008080;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 50%;
  border: 1px solid #008080;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.pagination ul li .page:hover,
.pagination ul li .page-prev:hover,
.pagination ul li .page-next:hover {
  background: #008080;
  color: #fff;
}

.pagination ul li .page-checked {
  background: #008080;
  color: #fff;
}

.pagination ul li:not(:last-child) {
  margin-right: 1rem;
}

.btn-all {
  display: inline-block;
  position: relative;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 6px 22px;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #008080;
  border: 1px solid #008080;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  overflow: hidden;
}

.btn-all::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #008080;
  left: -100%;
  top: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: -1;
}

.btn-all:hover {
  color: #fff;
}

.btn-all:hover::before {
  left: 0;
}

.title {
  text-align: center;
  margin: 3rem 0 6rem 0;
  color: #333;
  font-weight: 600;
  font-size: 2.8rem;
  opacity: 0.8;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.footer {
  background: #d9d3d3;
}

.footer .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 2%;
  color: #333;
  position: relative;
  font-size: 1.6rem;
}

.footer .link .contact-title {
  font-size: 2.8rem;
  font-weight: 500;
  margin: 1.2rem 0;
}

.footer .link p {
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .link .sub-link {
  display: inline-block;
  color: #333;
  margin: 4px 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
}

.footer .link .sub-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 1px;
  left: 0;
  background: #008080;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer .link .sub-link:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #008080;
}

.footer .link .sub-link:hover::before {
  width: 100%;
}

.footer .link .support {
  width: 26%;
  padding: 1rem;
}

.footer .link .support .phone,
.footer .link .support .email {
  font-weight: 600;
  color: #008080;
  margin-left: 1rem;
}

.footer .link .introduce {
  width: 24%;
  padding: 1rem;
}

.footer .link .contact {
  width: 24%;
  padding: 1rem;
}

.footer .link .sign-up {
  padding: 1rem;
  width: 26%;
}

.footer .link .sign-up input[type="email"] {
  padding: 0.8rem 1.6rem;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.footer .link .sign-up .btn-sign-up {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.8rem 2.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  background: #008080;
  border: none;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.footer .link .sign-up .btn-sign-up:hover {
  border: 1px solid #008080;
  color: #008080;
  background: #fff;
}

.footer .social {
  background: #c7bdbd;
}

.footer .social-network ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social-network ul li {
  margin: 0 10px;
  font-size: 2.8rem;
}

.footer .social p {
  text-align: center;
  color: #333;
}

.footer .social p a {
  font-size: 2.2rem;
}

.back-to-top {
  background: #008080;
  position: fixed;
  bottom: 1.6rem;
  right: 3.2rem;
  width: 4rem;
  height: 4rem;
  font-size: 3.2rem;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 100;
}

.back-to-top:hover {
  color: #008080;
  background: #fff;
  border: 1px solid #008080;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 1.8rem 2px #008080;
          box-shadow: 0 0 1.8rem 2px #008080;
}

.active {
  bottom: 3.3rem;
  pointer-events: auto;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */