@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #efeded;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.8rem;
  color: #008080;
  font-weight: bold;
  z-index: 10;
}

.text-center {
  text-align: center;
}

.header {
  padding: 0 5rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-shadow: 1px 0.1px 5px 0px #777777;
          box-shadow: 1px 0.1px 5px 0px #777777;
  z-index: 1000;
}

.header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.header .user-name {
  margin-right: 1rem;
}

.header .user .update {
  position: absolute;
  width: 15rem;
  padding-left: 0;
  top: calc(100% + 1.6rem);
  right: 0;
  background-color: #ede8e8;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px #8f8484;
          box-shadow: 0 1px 4px #8f8484;
  -webkit-animation: headerNotifyGrowth ease-in .3s;
          animation: headerNotifyGrowth ease-in .3s;
  display: none;
}

.header .user .update ul .user-item {
  margin: 5px 0;
  padding-left: 1rem;
}

.header .user .update ul .user-item a {
  color: #333;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .user .update ul .user-item:hover a {
  color: #008080;
}

.header .user .update ul .saparate {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header .user .update::before {
  content: "";
  border-width: 26px 39px;
  border-style: solid;
  border-color: transparent transparent #ede8e8 transparent;
  position: absolute;
  right: 0px;
  top: -42px;
}

.header .user:hover .update {
  display: block;
}

.nav {
  width: 18%;
  background: #fff8f8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 1.8rem;
  z-index: 1;
}

.nav ul {
  margin-top: 7rem;
}

.nav ul li {
  margin: 2rem;
}

.nav ul li .sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #008080;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav ul li .sub-nav .fas {
  width: 2rem;
  height: 2rem;
}

.nav ul li .sub-nav span {
  margin-left: 2rem;
}

.nav ul li .sub-nav--check {
  color: red;
}

.nav ul li:hover a {
  color: red;
}

.wrapper {
  width: 82%;
  margin-top: 6rem;
  float: right;
}

.wrapper .title {
  font-size: 2.8rem;
  padding: 1rem;
  color: #008080;
  margin: 1rem 2rem 0 2rem;
}

.wrapper .overview {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrapper .overview-item {
  background: #fff;
  width: 22%;
  height: 17rem;
  margin-bottom: 3rem;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.wrapper .overview-item .overview-head h1 {
  font-size: 4rem;
}

.wrapper .overview-item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #008080;
}

.manage {
  width: 82%;
  margin: 6rem 0 2rem 18%;
  padding: 0 1rem;
}

.manage__head {
  color: #333;
  height: 8rem;
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manage__head .title {
  font-size: 2.8rem;
  padding: 1rem;
  color: #008080;
}

.manage__head .btn {
  border: 1px solid #008080;
  padding: 4px 8px;
  color: #008080;
  background: #fff;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: relative;
}

.manage__head .btn:hover {
  color: #fff;
  background: #008080;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.manage__head .btn .fas {
  margin-right: 1rem;
  font-size: 3rem;
}

.manage__head .status {
  font-size: 1.6rem;
}

.manage__head .status label {
  padding: 1rem;
}

.manage__head .status select {
  padding: 5px 1rem;
  font-size: 1.6rem;
}

.manage__tbl {
  margin: 2rem 0;
  border-collapse: collapse;
  width: 100%;
  background: #fff;
}

.manage__tbl-th {
  margin: 10px;
  font-size: 2rem;
  padding: 10px;
  background: #6acccc;
  opacity: 0.8;
}

.manage__tbl td {
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #ddd;
}

.manage__tbl td img {
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.manage__tbl td a {
  font-size: 2.8rem;
  color: #008080;
  padding: 2px 8px;
  opacity: 0.7;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: inline-block;
}

.manage__tbl td a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  opacity: 1;
}

.manage__tbl td .btn-delete {
  color: #6b3434;
}

.manage__tbl td .btn-key {
  color: #0a531a;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add .form-add {
  margin: 12rem 0 4rem 18%;
  padding: 0 1rem;
  background: #fff;
  border: 1px solid #008080;
  min-width: 60rem;
}

.add .form-add .title {
  display: block;
  color: #008080;
  font-size: 2.8rem;
  padding: 1rem;
}

.add .form-add form {
  margin-top: 2rem;
}

.add .form-add form .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-size: 1.6rem;
}

.add .form-add form .form-item .form-label {
  min-width: 15rem;
}

.add .form-add form .form-item .form-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 8px 1.6rem;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #008080;
  min-width: 28rem;
}

.add .form-add form .form-item .form-input:focus {
  outline: none;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.add .form-add form .form-item .form-check input[type="radio"] {
  margin-right: 1rem;
}

.add .form-add form .form-item .form-check label {
  margin-right: 2rem;
}

.add .form-add form .form-item .form-img {
  width: 15rem;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.add .form-add form .form-btn {
  font-size: 1.8rem;
  min-width: 15rem;
  padding: 4px 1.6rem;
  margin: 2rem auto;
  border: 1px solid #008080;
  color: #008080;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.add .form-add form .form-btn:hover {
  color: #fff;
  background: #008080;
}

.max-width {
  max-width: 25rem;
}

.font-14 {
  font-size: 1.4rem !important;
}

.font-18 {
  font-size: 1.8rem !important;
}

.pagination {
  width: 82%;
  margin-left: 18%;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  position: relative;
  left: -19%;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination ul li .page,
.pagination ul li .page-prev,
.pagination ul li .page-next {
  color: #008080;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 50%;
  border: 1px solid #008080;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.pagination ul li .page:hover,
.pagination ul li .page-prev:hover,
.pagination ul li .page-next:hover {
  background: #008080;
  color: #fff;
}

.pagination ul li .page-checked {
  background: #008080;
  color: #fff;
}

.pagination ul li:not(:last-child) {
  margin-right: 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 1px 0.1px 5px 0px #777777;
          box-shadow: 1px 0.1px 5px 0px #777777;
  -webkit-animation: slideInTop .7s linear;
          animation: slideInTop .7s linear;
}

@-webkit-keyframes slideInTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.error {
  color: red;
}

.success {
  color: green !important;
}
/*# sourceMappingURL=admin.css.map */