@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #efeded;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

$primaryColor:#008080;
$textColor:#333;
.logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.8rem;
    color: $primaryColor;
    font-weight: bold;
    z-index: 10;
}

.text-center {
    text-align: center;
}

.header {
    padding: 0 5rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background: #fff;
    box-shadow: 1px 0.1px 5px 0px #777777;
    z-index: 1000;
    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        &-name {
            margin-right: 1rem;
        }
        .update {
            position: absolute;
            width: 15rem;
            padding-left: 0;
            top: calc(100% + 1.6rem);
            right: 0;
            background-color: #ede8e8;
            border-radius: 2px;
            box-shadow: 0 1px 4px #8f8484;
            animation: headerNotifyGrowth ease-in .3s;
            display: none;
            ul {
                .user-item {
                    margin: 5px 0;
                    padding-left: 1rem;
                    a {
                        color: $textColor;
                        transition: all .3s ease-in-out;
                    }
                    &:hover a {
                        color: $primaryColor;
                    }
                }
                .saparate {
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                }
            }
            &::before {
                content: "";
                border-width: 26px 39px;
                border-style: solid;
                border-color: transparent transparent #ede8e8 transparent;
                position: absolute;
                right: 0px;
                top: -42px;
            }
        }
        &:hover .update {
            display: block;
        }
    }
}

.nav {
    width: 18%;
    background: #fff8f8;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 1.8rem;
    z-index: 1;
    ul {
        margin-top: 7rem;
        li {
            margin: 2rem;
            .sub-nav {
                display: flex;
                align-items: center;
                color: $primaryColor;
                transition: all 0.5s ease-in-out;
                .fas {
                    width: 2rem;
                    height: 2rem;
                }
                span {
                    margin-left: 2rem;
                }
                &--check {
                    color: red;
                }
            }
            &:hover a {
                color: red;
            }
        }
    }
}

.wrapper {
    width: 82%;
    margin-top: 6rem;
    float: right;
    .title {
        font-size: 2.8rem;
        padding: 1rem;
        color: $primaryColor;
        margin: 1rem 2rem 0 2rem;
    }
    .overview {
        margin-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        &-item {
            background: #fff;
            width: 22%;
            height: 17rem;
            margin-bottom: 3rem;
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $textColor;
            transition: all 0.5s ease-in-out;
            .overview-head {
                h1 {
                    font-size: 4rem;
                }
            }
            &:hover {
                transform: translateY(-3px);
                color: $primaryColor;
            }
        }
    }
}

.manage {
    width: 82%;
    margin: 6rem 0 2rem 18%;
    padding: 0 1rem;
    &__head {
        color: $textColor;
        height: 8rem;
        margin: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            font-size: 2.8rem;
            padding: 1rem;
            color: $primaryColor;
        }
        .btn {
            border: 1px solid $primaryColor;
            padding: 4px 8px;
            color: $primaryColor;
            background: #fff;
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            transition: all 1s ease-in-out;
            position: relative;
            &:hover {
                color: #fff;
                background: $primaryColor;
                transform: scale(1.05);
            }
            .fas {
                margin-right: 1rem;
                font-size: 3rem;
            }
        }
        .status {
            font-size: 1.6rem;
            label {
                padding: 1rem;
            }
            select {
                padding: 5px 1rem;
                font-size: 1.6rem;
            }
        }
    }
    &__tbl {
        margin: 2rem 0;
        border-collapse: collapse;
        width: 100%;
        background: #fff;
        &-th {
            margin: 10px;
            font-size: 2rem;
            padding: 10px;
            background: #6acccc;
            opacity: 0.8;
        }
        td {
            text-align: center;
            padding: 1rem;
            font-size: 1.6rem;
            border-bottom: 1px solid #ddd;
            img {
                width: 10rem;
                height: 10rem;
                object-fit: cover;
            }
            a {
                font-size: 2.8rem;
                color: $primaryColor;
                padding: 2px 8px;
                opacity: 0.7;
                transition: all 0.5s linear;
                display: inline-block;
                &:hover {
                    transform: translateY(-5px);
                    // transform: scale(1.1);
                    opacity: 1;
                }
            }
            .btn-delete {
                color: rgb(107, 52, 52);
            }
            .btn-key {
                color: rgb(10, 83, 26);
            }
        }
    }
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    .form-add {
        margin: 12rem 0 4rem 18%;
        padding: 0 1rem;
        background: #fff;
        border: 1px solid $primaryColor;
        min-width: 60rem;
        .title {
            display: block;
            color: $primaryColor;
            font-size: 2.8rem;
            padding: 1rem;
        }
        form {
            margin-top: 2rem;
            .form-item {
                display: flex;
                align-items: center;
                padding: 1rem;
                font-size: 1.6rem;
                .form-label {
                    min-width: 15rem;
                }
                .form-input {
                    flex: 1;
                    padding: 8px 1.6rem;
                    font-size: 1.6rem;
                    font-family: 'Poppins', sans-serif;
                    border: 1px solid $primaryColor;
                    min-width: 28rem;
                    &:focus {
                        outline: none;
                        transition: all 0.5s linear;
                    }
                }
                .form-check {
                    input[type="radio"] {
                        margin-right: 1rem;
                    }
                    label {
                        margin-right: 2rem;
                    }
                }
                .form-img {
                    width: 15rem;
                    height: 12rem;
                    object-fit: cover;
                }
            }
            .form-btn {
                font-size: 1.8rem;
                min-width: 15rem;
                padding: 4px 1.6rem;
                margin: 2rem auto;
                border: 1px solid $primaryColor;
                color: $primaryColor;
                background: #fff;
                cursor: pointer;
                transition: all 0.5s linear;
                position: relative;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                &:hover {
                    color: #fff;
                    background: $primaryColor;
                }
            }
        }
    }
}

.max-width {
    max-width: 25rem;
}

.font-14 {
    font-size: 1.4rem !important;
}

.font-18 {
    font-size: 1.8rem !important;
}

.pagination {
    width: 82%;
    margin-left: 18%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    left: -19%;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            .page,
            .page-prev,
            .page-next {
                color: $primaryColor;
                width: 4rem;
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                font-size: 1.8rem;
                font-weight: 500;
                border-radius: 50%;
                border: 1px solid $primaryColor;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
                &:hover {
                    background: $primaryColor;
                    color: #fff;
                }
            }
            .page-checked {
                background: $primaryColor;
                color: #fff;
            }
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 0.1px 5px 0px #777777;
    animation: slideInTop .7s linear;
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.error {
    color: red;
}

.success {
    color: green !important;
}