html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    background-color: #f3faff;
}

input,
textarea,
button,
select {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: #fbfbfb;
}

.signup {
    background-color: #f7faff;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(black, 0.1);
    margin: 6rem;
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &_heading {
        font-weight: bold;
        font-size: 4.5rem;
        margin-bottom: 3rem;
        color: #291667;
        text-align: center;
    }
    &-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        &_item {
            padding: 1.5rem 2.5rem;
            margin: 1rem;
            border-radius: 10px;
            border: 1px solid #eee;
            cursor: pointer;
            color: #291667;
        }
        &_icon {
            margin-right: 1rem;
        }
    }
    &-form {
        &_label {
            color: #291667;
            display: inline-block;
            margin-bottom: 1rem;
            transform: translateX(1rem);
            cursor: pointer;
        }
        &_input {
            padding: 1.5rem 2rem;
            border-radius: 10px;
            border: 1px solid #eee;
            background-color: #fafbff;
            border-radius: 10px;
            display: block;
            width: 100%;
            &:focus {
                background-color: white;
                border-color: #fc556f;
            }
        }
        label {
            cursor: pointer;
            display: inline-block;
        }
        &_group {
            margin-bottom: 3rem;
            position: relative;
            .fas {
                position: absolute;
                top: 70%;
                right: 2rem;
                transform: translateY(-50%);
                color: #777;
                cursor: pointer;
            }
        }
        &_submit {
            display: inline-block;
            width: 20rem;
            height: 5rem;
            color: white;
            border: 0;
            border-radius: 3rem;
            margin: 3rem 20rem;
            background-color: #fc556f;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            cursor: pointer;
            margin-bottom: 6.5rem;
            box-shadow: 0 10px 10px 0px rgba(#fc556f, 0.5);
        }
    }
}

.error {
    color: red;
}

.success {
    color: green;
}

@media screen and(max-width: 1279px) {
    body {
        padding: 2rem;
    }
    .signup {
        width: 34rem;
        height: 70rem;
        padding: 1rem;
        margin: 2rem 0;
        &_content {
            width: 100%;
        }
        &-social {
            flex-direction: column;
            &_item {
                // width: 55%;
                margin-bottom: 1rem;
            }
        }
        &-form {
            &_submit {
                margin: 3rem 6rem;
            }
        }
    }
}