html {
  font-size: 62.5%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  background-color: #f3faff;
}

input,
textarea,
button,
select {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #fbfbfb;
}

.signup {
  background-color: #f7faff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  margin: 6rem;
  padding: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup_heading {
  font-weight: bold;
  font-size: 4.5rem;
  margin-bottom: 3rem;
  color: #291667;
  text-align: center;
}

.signup-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.signup-social_item {
  padding: 1.5rem 2.5rem;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid #eee;
  cursor: pointer;
  color: #291667;
}

.signup-social_icon {
  margin-right: 1rem;
}

.signup-form_label {
  color: #291667;
  display: inline-block;
  margin-bottom: 1rem;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  cursor: pointer;
}

.signup-form_input {
  padding: 1.5rem 2rem;
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #fafbff;
  border-radius: 10px;
  display: block;
  width: 100%;
}

.signup-form_input:focus {
  background-color: white;
  border-color: #fc556f;
}

.signup-form label {
  cursor: pointer;
  display: inline-block;
}

.signup-form_group {
  margin-bottom: 3rem;
  position: relative;
}

.signup-form_group .fas {
  position: absolute;
  top: 70%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #777;
  cursor: pointer;
}

.signup-form_submit {
  display: inline-block;
  width: 20rem;
  height: 5rem;
  color: white;
  border: 0;
  border-radius: 3rem;
  margin: 3rem 20rem;
  background-color: #fc556f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 6.5rem;
  -webkit-box-shadow: 0 10px 10px 0px rgba(252, 85, 111, 0.5);
          box-shadow: 0 10px 10px 0px rgba(252, 85, 111, 0.5);
}

.error {
  color: red;
}

.success {
  color: green;
}

@media screen and (max-width: 1279px) {
  body {
    padding: 2rem;
  }
  .signup {
    width: 34rem;
    height: 70rem;
    padding: 1rem;
    margin: 2rem 0;
  }
  .signup_content {
    width: 100%;
  }
  .signup-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .signup-social_item {
    margin-bottom: 1rem;
  }
  .signup-form_submit {
    margin: 3rem 6rem;
  }
}
/*# sourceMappingURL=login.css.map */