/* .card {}

.card--success {}

.card--error {}

.card__heading {}

.card__desc {}

.card__btn {}

.card__btn--size--s {} */


/* body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body div {
    margin: auto;
} */


/* .btn {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity .2s linear;
    min-width: 120px;
}

.btn:hover {
    opacity: 0.8;
}

.btn+.btn {
    margin-left: 16px;
}

.btn--success {
    background: #71be43;
}

.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}

.btn--warn {
    background: #ffb702;
}

.btn--danger {
    background: #ff623d;
}

.btn--size-l {
    padding: 16px 56px;
}

.btn--size-s {
    padding: 8px 32px;
} */

#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999999999;
}

.toast {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(500px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast+.toast {
    margin-top: 25px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.6;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}